<header>
	<nav class="navbar_nav">
    <a href={{path('admin_ingredient_index')}}>Accueil</a>
    <a href={{path('admin_ingredient_index')}}>Ingredients</a>
    <a href={{path('admin_recipe_index')}}>Recettes</a>
    </nav>
</header>
